@font-face {
  font-family: 'MODULAR Outline 14';
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.eot');
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.woff2')
      format('woff2'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.woff')
      format('woff'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.ttf')
      format('truetype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-Outline14.svg#MODULAR-Outline14')
      format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MODULAR 14';
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-14.eot');
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-14.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-14.woff2')
      format('woff2'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-14.woff')
      format('woff'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-14.ttf')
      format('truetype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-14.svg#MODULAR-14')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MODULAR4';
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-4.eot');
  src: url('./fonts/transfonter.org-20190910-144421/MODULAR-4.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-4.woff2')
      format('woff2'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-4.woff') format('woff'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-4.ttf')
      format('truetype'),
    url('./fonts/transfonter.org-20190910-144421/MODULAR-4.svg#MODULAR-4')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

body #canvas {
  background-color: rgba(255, 255, 255, 0);
}

#canvas {
  max-width: 1200px;
  padding: 75px;
}

.logo {
  font-family: 'MODULAR Outline 14';
  font-variant: small-caps;
  font-size: 84px;
  float: right;
}

.logo a {
  color: #222;
}

a {
  text-decoration: none;
}

div.gallery {
  margin: 40px;
  width: 300px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding-top: 15px;
  font-family: 'MODULAR 14';
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
}

/* .modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
} */

.btn {
  font-family: 'MODULAR 14';
  font-variant: small-caps;
  font-size: 42px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #cfcece;
  text-align: center;
  vertical-align: middle;
}

/* .btn span.icon {
  background: url(./img/FB-login2.png) no-repeat;
  float: right;
  width: 48px;
  height: 48px;
} */
/* .btn_gray {background-color: #808080;}
.btn_green { background-color: #ADFF2F;}
.btn_blue {background-color: #0000CD;}
.btn_red {background-color: #DC143C;} */
